DATABASE_URL=""
DIRECT_URL=""
JWT_SECRET=""
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL=""
GEMINI_API_KEY=""
REDIS_URL=""
NEXT_PUBLIC_API_URL=""
NEXT_PUBLIC_APP_URL=""
RESEND_API_KEY=""
NODE_ENV="development"
PORT="4000"